<div class="carousel-demo">
  <div class="demo-section">
    <div class="carousel-container">
      <aava-carousel [items]="carouselItems" size="sm"> </aava-carousel>
    </div>
  </div>
  <!-- <div class="demo-section">
        <h3>Medium (md) - Default</h3>
        <div class="carousel-container">
            <aava-carousel [items]="carouselItems" size="md">
            </aava-carousel>
        </div>
    </div>
    <div class="demo-section">
        <h3>Small (sm)</h3>
        <div class="carousel-container">
            <aava-carousel [items]="carouselItems" size="sm">
            </aava-carousel>
        </div>
    </div>
    <div class="demo-section">
        <h3>Extra Small (xs)</h3>
        <div class="carousel-container">
            <aava-carousel [items]="carouselItems" size="xs">
            </aava-carousel>
        </div>
    </div> -->
</div>
