<div class="demo-navigation">
  <div class="container">
    <h1>Header Component</h1>
    <div class="row">
      <div class="col-12">
        <div class="nav-links">
          <h3>Demo Sections</h3>
          <div class="nav-grid">
            <a routerLink="/header/basic" class="nav-link">
              <span class="nav-icon">📝</span>
              <span class="nav-text">Basic Usage</span>
            </a>
            <a routerLink="/header/without-navigation" class="nav-link">
              <span class="nav-icon">📏</span>
              <span class="nav-text">Without Navigation</span>
            </a>
            <a routerLink="/header/without-search" class="nav-link">
              <span class="nav-icon">📏</span>
              <span class="nav-text">Without Search</span>
            </a>
            <a routerLink="/header/mobile-view" class="nav-link">
              <span class="nav-icon">☑️</span>
              <span class="nav-text">Mobile View</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="documentation">
  <div class="section">
    <h3>Header Default</h3>

    <aava-header containerClass="">
      <div left-content class="header__left">
        <div class="logo"><img src="{{ logoUrl }}" alt="" /></div>
      </div>

      <div center-content class="header__center tabs-header">
        <aava-tabs
          [tabs]="iconsTabs"
          [activeTabId]="activeTabId"
          variant="default"
          size="sm"
          [showContentPanels]="false"
          (tabChange)="onTabChange($event)"
          ariaLabel="Basic navigation tabs"
        ></aava-tabs>
      </div>

      <div right-content class="header__right">
        <div class="search-box">
          <aava-icon
            iconName="search"
            [iconSize]="16"
            iconColor="#000"
          ></aava-icon>
          <input
            type="text"
            [(ngModel)]="searchText"
            (input)="onSearchChange()"
            placeholder="Search"
          />
        </div>

        <aava-icon
          class="icon"
          iconName="Sun"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onGraphIconClick()"
        ></aava-icon>
        <aava-icon
          class="icon"
          iconName="Languages"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onTranslateIconClick()"
        ></aava-icon>
        <aava-icon
          class="icon"
          iconName="EllipsisVertical"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onDayLightModeIconClick()"
        ></aava-icon>

        <aava-avatars
          size="md"
          shape="square"
          [imageUrl]="getLoggedInUserLogo()"
          badgeState="high-priority"
          badgeSize="lg"
          [badgeCount]="9"
        ></aava-avatars>
      </div>
    </aava-header>
  </div>
  <div class="section">
    <h3>Header without navigation</h3>

    <aava-header containerClass="">
      <div left-content class="header__left">
        <div class="logo"><img src="{{ logoUrl }}" alt="" /></div>
      </div>

      <div right-content class="header__right">
        <div class="search-box">
          <aava-icon
            iconName="search"
            [iconSize]="16"
            iconColor="#000"
          ></aava-icon>
          <input
            type="text"
            [(ngModel)]="searchText"
            (input)="onSearchChange()"
            placeholder="Search"
          />
        </div>

        <aava-icon
          class="icon"
          iconName="Sun"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onGraphIconClick()"
        ></aava-icon>
        <aava-icon
          class="icon"
          iconName="Languages"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onTranslateIconClick()"
        ></aava-icon>
        <aava-icon
          class="icon"
          iconName="EllipsisVertical"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onDayLightModeIconClick()"
        ></aava-icon>

        <aava-avatars
          size="md"
          shape="square"
          [imageUrl]="getLoggedInUserLogo()"
          badgeState="low-priority"
          badgeSize="lg"
          [badgeCount]="9"
        ></aava-avatars>
      </div>
    </aava-header>
  </div>
  <div class="section">
    <h3>Header without search</h3>

    <aava-header containerClass="">
      <div left-content class="header__left">
        <div class="logo"><img src="{{ logoUrl }}" alt="" /></div>
      </div>

      <div center-content class="header__center tabs-header">
        <aava-tabs
          [tabs]="iconsTabs"
          [activeTabId]="activeTabId"
          variant="default"
          size="sm"
          [showContentPanels]="false"
          (tabChange)="onTabChange($event)"
          ariaLabel="Basic navigation tabs"
        ></aava-tabs>
      </div>

      <div right-content class="header__right">
        <aava-icon
          class="icon"
          iconName="Sun"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onGraphIconClick()"
        ></aava-icon>
        <aava-icon
          class="icon"
          iconName="Languages"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onTranslateIconClick()"
        ></aava-icon>
        <aava-icon
          class="icon"
          iconName="EllipsisVertical"
          [iconSize]="20"
          [iconColor]="getIconColor"
          (click)="onDayLightModeIconClick()"
        ></aava-icon>

        <aava-avatars
          size="md"
          shape="square"
          [imageUrl]="getLoggedInUserLogo()"
          badgeState="medium-priority"
          badgeSize="lg"
          [badgeCount]="9"
        ></aava-avatars>
      </div>
    </aava-header>
  </div>
  <div class="section">
    <h3>Header in Mobile View</h3>

    <div class="mobile-view">
      <aava-header containerClass="">
        <div left-content class="header__left">
          <aava-icon
            class="menu-toggle"
            iconName="Menu"
            [iconSize]="24"
            iconColor="#000"
            (click)="toggleMenuDropdown()"
          ></aava-icon>

          <div class="menu-dropdown" [class.open]="isMenuOpen">
            <div class="dropdown-logo">
              <img src="{{ logoUrl }}" alt="Logo" />
            </div>

            <div class="search-box dropdown-search">
              <aava-icon
                iconName="search"
                [iconSize]="16"
                iconColor="#000"
              ></aava-icon>
              <input
                type="text"
                [(ngModel)]="searchText"
                (input)="onSearchChange()"
                placeholder="Search"
              />
            </div>

            <div class="dropdown-tabs">
              <aava-tabs
                [tabs]="iconsTabs"
                [activeTabId]="activeTabId"
                variant="default"
                size="sm"
                [showContentPanels]="false"
                orientation="vertical"
                (tabChange)="onTabChange($event)"
              >
              </aava-tabs>
            </div>
          </div>
        </div>

        <div right-content class="header__right">
          <aava-icon
            class="icon"
            iconName="Sun"
            [iconSize]="20"
            [iconColor]="getIconColor"
            (click)="onGraphIconClick()"
          ></aava-icon>
          <aava-icon
            class="icon"
            iconName="Languages"
            [iconSize]="20"
            [iconColor]="getIconColor"
            (click)="onTranslateIconClick()"
          ></aava-icon>

          <aava-avatars
            size="md"
            shape="square"
            [imageUrl]="getLoggedInUserLogo()"
            badgeState="information"
            badgeSize="lg"
            [badgeCount]="9"
          ></aava-avatars>
          <aava-icon
            class="icon"
            iconName="EllipsisVertical"
            [iconSize]="20"
            [iconColor]="getIconColor"
            (click)="onDayLightModeIconClick()"
          ></aava-icon>
        </div>
      </aava-header>
    </div>
  </div>
</div>
