<div class="demo-container">
  <aava-button label="Title Only" variant="secondary" tooltipTitle="Title Only" tooltipPosition="top"
    tooltipArrow="center">
  </aava-button>
  <aava-button label="Desc Only" variant="secondary" tooltipDescription="This description should start from beginning"
    tooltipPosition="top" tooltipArrow="center">
  </aava-button>
  <aava-button label="Desc+Icon Only" variant="secondary"
    tooltipDescription="This description should start from beginning" tooltipIcon="info"
    tooltipIconColor="var(--color-text-primary)" tooltipPosition="top" tooltipArrow="center">
  </aava-button>
  <aava-button label="Title+Icon+Desc" variant="secondary" tooltipTitle="Save Feature"
    tooltipDescription="This description should align with title text" tooltipIcon="save"
    tooltipIconColor="var(--color-text-primary)" tooltipPosition="top" tooltipArrow="center">
  </aava-button>
</div>