.t-container {
    padding: 25px;

    .con {
        width: 300px;

        div {
            margin-bottom: 25px;
        }

        ava-slider {
            margin-bottom: 50px;
            display: block;
        }

        margin-bottom: 50px;
    }

    aava-slider {
        margin-bottom: 25px;
        display: block;
    }
}