<div class="t-container">
    <h2>Variants and Sizes</h2>

    <div class="each">
        <div>
            <p>Variants (XL Size)</p>
            <aava-textarea label="Default" variant="default" placeholder="Default variant" size="lg"></aava-textarea>
            <aava-textarea label="Success" variant="success" placeholder="Success variant" size="lg"></aava-textarea>
            <aava-textarea label="Error" variant="error" error="Error message comes here" placeholder="Error variant"
                size="lg"></aava-textarea>
            <aava-textarea label="Warning" variant="warning" placeholder="Warning variant" size="lg"></aava-textarea>
            <aava-textarea label="Disabled" variant="default" placeholder="Disabled variant" size="lg"
                [disabled]="true"></aava-textarea>
        </div>
    </div>

    <div class="each">
        <div>
            <p>Sizes</p>
            <aava-textarea label="Extra Small (XS)" placeholder="Extra Small..." size="xs"></aava-textarea>
            <aava-textarea label="Small (SM)" placeholder="Small..." size="sm"></aava-textarea>
            <aava-textarea label="Medium (MD)" placeholder="Medium..." size="md"></aava-textarea>
            <aava-textarea label="Large (LG)" placeholder="Large..." size="lg"></aava-textarea>
            <aava-textarea label="Extra Large (XL)" placeholder="Extra Large..." size="xl"></aava-textarea>
        </div>
    </div>
</div>