<div class="container-cubic">
  <div>
    <aava-cubical-loading
      background="linear-gradient(45deg, #667eea 0%, #764ba2 100%)"
    ></aava-cubical-loading>
    <h4>Purple Gradient</h4>
  </div>
  <div>
    <aava-cubical-loading
      background="linear-gradient(45deg, #f093fb 0%, #f5576c 100%)"
    ></aava-cubical-loading>
    <h4>Orange Gradient</h4>
  </div>
  <div>
    <aava-cubical-loading
      background="linear-gradient(45deg, #4facfe 0%, #00f2fe 100%)"
    ></aava-cubical-loading>
    <h4>Blue Gradient</h4>
  </div>
</div>
