<div class="demo-container">
  <div class="search-demo">
    <div class="demo-section">
      <div class="search-example">
        <aava-search-bar closeButtonVisibility="always"></aava-search-bar>
        <aava-search-bar closeButtonVisibility="hidden"></aava-search-bar>
        <aava-search-bar
          closeButtonVisibility="always"
          [sendButton]="false"
        ></aava-search-bar>
        <aava-search-bar [sendButton]="false"></aava-search-bar>
      </div>
    </div>
  </div>
</div>

<div class="demo-container2">
  <div class="search-demo">
    <div class="demo-section">
      <div class="search-example">
        <aava-search-bar
          placeholder="Primary"
          searchIconColor="#3b82f6"
          sendIconColor="#3b82f6"
        ></aava-search-bar>

        <aava-search-bar
          placeholder="Success"
          searchIconColor="#10b981"
          sendIconColor="#10b981"
        ></aava-search-bar>
        <aava-search-bar
          placeholder="Warning"
          searchIconColor="#f59e0b"
          sendIconColor="#f59e0b"
        ></aava-search-bar>
        <aava-search-bar
          placeholder="Danger"
          searchIconColor="#ef4444"
          sendIconColor="#ef4444"
        ></aava-search-bar>
      </div>
    </div>
  </div>
</div>
