<div class="test-list-container">
    <div class="demo-section">
        <aava-list>
            <aava-list-items>

                <div left>
                    <aava-avatars size="xl" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                </div>

                <div middle>
                    <div class="heading">
                        <span>Heading comes here </span>
                    </div>
                    <div class="description">
                        <span>Description text goes here</span>

                    </div>
                </div>
                <div right>
                    <aava-icon [iconName]="'arrow-right'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                </div>

            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
            <aava-list-items>

                <div left>
                    <aava-avatars size="xl" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                </div>

                <div middle>
                    <div class="heading">
                        <span>Heading comes here </span>
                    </div>
                    <div class="description">
                        <span>Description text goes here</span>

                    </div>
                </div>
                <div right>
                    <aava-icon [iconName]="'arrow-right'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                </div>

            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
            <aava-list-items>

                <div left>
                    <aava-avatars size="xl" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                </div>

                <div middle>
                    <div class="heading">
                        <span>Heading comes here </span>
                    </div>
                    <div class="description">
                        <span>Description text goes here</span>

                    </div>
                </div>
                <div right>
                    <aava-icon [iconName]="'arrow-right'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                </div>

            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
        </aava-list>

        <aava-list>
            <aava-list-items>
                <div left>
                    <aava-avatars size="xl" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                </div>
                <div middle>
                    <div class="heading">
                        <span>heading comes here </span>
                    </div>
                    <div class="description">
                        <span>Description comes here</span>
                    </div>
                </div>
                <div right>
                    <aava-button label="label" [variant]="'primary'" size="md" [clear]="true" [pill]="true">
                    </aava-button>
                </div>
            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
            <aava-list-items>
                <div left>
                    <aava-avatars size="xl" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                </div>
                <div middle>
                    <div class="heading">
                        <span>heading comes here </span>
                    </div>
                    <div class="description">
                        <span>Description comes here</span>
                    </div>
                </div>
                <div right>
                    <aava-button label="label" [variant]="'primary'" size="md" [clear]="true" [pill]="true">
                    </aava-button>
                </div>
            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
            <aava-list-items>
                <div left>
                    <aava-avatars size="xl" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                </div>
                <div middle>
                    <div class="heading">
                        <span>heading comes here </span>
                    </div>
                    <div class="description">
                        <span>Description comes here</span>
                    </div>
                </div>
                <div right>
                    <aava-button label="label" [variant]="'primary'" size="md" [clear]="true" [pill]="true">
                    </aava-button>
                </div>
            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
        </aava-list>
        <aava-list>
            <aava-list-items>
                <div left>
                    <aava-icon [iconName]="'book'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                </div>
                <div middle>
                    <div class="heading">
                        <span>Heading comes Here</span>
                    </div>
                    <div class="description">
                        <span>Description Comes Here</span>
                    </div>
                </div>
                <div right>
                    <aava-button label="label" [variant]="'primary'" size="md" [clear]="true" [pill]="true">
                    </aava-button>
                </div>
            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
            <aava-list-items>
                <div left>
                    <aava-icon [iconName]="'book'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                </div>
                <div middle>
                    <div class="heading">
                        <span>Heading comes Here</span>
                    </div>
                    <div class="description">
                        <span>Description Comes Here</span>
                    </div>
                </div>
                <div right>
                    <aava-button label="label" [variant]="'primary'" size="md" [clear]="true" [pill]="true">
                    </aava-button>
                </div>
            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
            <aava-list-items>
                <div left>
                    <aava-icon [iconName]="'book'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                </div>
                <div middle>
                    <div class="heading">
                        <span>Heading comes Here</span>
                    </div>
                    <div class="description">
                        <span>Description Comes Here</span>
                    </div>
                </div>
                <div right>
                    <aava-button label="label" [variant]="'primary'" size="md" [clear]="true" [pill]="true">
                    </aava-button>
                </div>
            </aava-list-items>
            <aava-dividers variant="solid" orientation="horizontal"></aava-dividers>
        </aava-list>
    </div>
    <div class="demo-checkbox-container">
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="md" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="sm" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
        </div>
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg" [hoverBg]="true">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="md" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md" [hoverBg]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="sm" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm" [hoverBg]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs" [hoverBg]="true">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
        </div>
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg" [outline]="true">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="md" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md" [outline]="true">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="sm" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm" [outline]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs" [outline]="true">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
        </div>
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="md" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="sm" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-avatars size="xs" shape="pill" [imageUrl]="sampleImageUrl"></aava-avatars>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                    <div right>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>
                    </div>
                </aava-list-items>
            </aava-list>
        </div>
    </div>
    <div class="demo-checkbox-container">
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
        </div>
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg" [hoverBg]="true">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>

                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md" [hoverBg]="true">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>

                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm" [hoverBg]="true">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs" [hoverBg]="true">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>

                </aava-list-items>
            </aava-list>
        </div>
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg" [outline]="true">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md" [outline]="true">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm" [outline]="true">
                    <div left>
                        <aava-checkbox size="md"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs" [outline]="true">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
        </div>
        <div class="demo-section2">
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="lg" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox size="lg"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>
                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>
                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="md" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="24"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>

                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="sm" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="20"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>

                </aava-list-items>
            </aava-list>
            <aava-list>
                <aava-list-items *ngFor="let profile of documentItems" size="xs" [hoverBorder]="true">
                    <div left>
                        <aava-checkbox size="sm"></aava-checkbox>
                    </div>
                    <div left>
                        <aava-icon [iconName]="'user'" [iconColor]="iconColor" iconSize="16"></aava-icon>

                    </div>
                    <div middle>
                        <span>{{ profile.heading }}</span>
                    </div>

                </aava-list-items>
            </aava-list>
        </div>
    </div>
</div>