<div class="t-container">
    <div class="each">
        <div>
            <aava-search-bar size="xl" (userClick)="search($event)" [closeButton]="true"
                (searchChange)="change($event)"></aava-search-bar>
            <aava-search-bar size="lg" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar size="md" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar size="sm" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar size="xs" (userClick)="search($event)"></aava-search-bar>

        </div>
        <div>
            <aava-search-bar variant="primary" size="xl" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar variant="primary" size="lg" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar variant="primary" size="md" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar variant="primary" size="sm" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar variant="primary" size="xs" (userClick)="search($event)"></aava-search-bar>

        </div>
        <div>
            <aava-search-bar [disabled]="true" size="xl" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar [disabled]="true" size="lg" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar [disabled]="true" size="md" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar [disabled]="true" size="sm" (userClick)="search($event)"></aava-search-bar>
            <aava-search-bar [disabled]="true" size="xs" (userClick)="search($event)"></aava-search-bar>

        </div>



    </div>

</div>