<div class="divider-group horizontal">
  <aava-dividers variant="solid" orientation="horizontal" color="#BBBEC5"></aava-dividers>
  <aava-dividers variant="dashed" orientation="horizontal" color="#BBBEC5"></aava-dividers>
  <aava-dividers variant="dotted" orientation="horizontal" color="#BBBEC5"></aava-dividers>
     <aava-dividers
    variant="gradient"
    orientation="horizontal"
    color="linear-gradient(90deg, #F0F1F2 0%, #BBBEC5 55.89%,  #F0F1F2 100%)">
  </aava-dividers>
</div>

<div class="divider-group vertical">
  <aava-dividers variant="solid" orientation="vertical" color="#BBBEC5"></aava-dividers>
  <aava-dividers variant="dashed" orientation="vertical" color="#BBBEC5"></aava-dividers>
  <aava-dividers variant="dotted" orientation="vertical" color="#BBBEC5"></aava-dividers>
    <aava-dividers
    variant="gradient"
    orientation="vertical"
    color="linear-gradient(180deg, #F0F1F2 0%, #BBBEC5 55.89%, #F0F1F2 100%)">
  </aava-dividers>
</div>
