<div class="container basic-card-contaner">
  <div class="margin">
    <div class="row justify-content-center">
      <!-- <div class="col-5">
                <aava-image-card>
                    <ava-card-header>
                        <img src="/assets/card.png" alt="card image" />
                    </ava-card-header>

                      <ava-card-content>
                        <div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit
                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident,

                            </p>
                        </div>
                      <ava-card-content>

                    <ava-card-footer>
                        <div class="left">
                            <aava-icon iconName="clock-4" iconColor="#ff6b6b"></aava-icon>
                            <span>12 June 2025</span>
                        </div>
                    <ava-card-footer>
                </aava-image-card>
            </div> -->
      <div class="col-8">
        <aava-image-card>
          <aava-card-header>
            <div style="margin-bottom: 10px" class="right">
              <aava-tag label="Default" size="sm" [pill]="true" color="primary"></aava-tag>
            </div>
            <h1 style="margin-bottom: 20px" id="cardinfo">Headings</h1>
            <img src="/assets/card.png" width="100%" alt="card image" />
          </aava-card-header>

          <aava-card-content>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam
              </p>
            </div>
          </aava-card-content>

          <aava-card-footer>
            <div class="right">
              <aava-icon iconName="clock-4" style="margin-right: 10px" iconColor="#ff6b6b"></aava-icon>
              <span>12 June 2025</span>
            </div>
          </aava-card-footer>
        </aava-image-card>
      </div>
    </div>
  </div>
  <!-- <div class="margin">
    <div class="row">
      <div class="col-5">
        <aava-image-card>
          <ava-card-content>
            <div class="image-wrapper">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
              </p>
              <img src="/assets/card.png" width="100%" alt="card image" />
            </div>
          </ava-card-content>
        </aava-image-card>
      </div>
      <div class="col-5">
        <aava-image-card>
           <ava-card-content>
            <div class="image-wrapper">
              <img src="/assets/card.png" width="100%" alt="card image" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
              </p>
            </div>
           <ava-card-content>
        </aava-image-card>
      </div>
    </div>
  </div> -->
</div>