<div class="example-group">
        <aava-prompt-bar
          size="sm"
          placeholder="Small prompt bar (2 rows)"
          [icons]="allIcons"
          >
        </aava-prompt-bar>
<br>

        <aava-prompt-bar
          size="md"
          placeholder="Medium prompt bar (3 rows)"
          [icons]="allIcons"
         >
        </aava-prompt-bar>
<br>

        <aava-prompt-bar
          size="lg"
          placeholder="Large prompt bar (4 rows)"
          [icons]="allIcons"
          >
        </aava-prompt-bar>
      </div>


