<div class="t-container">
    <!-- Basic Variant -->
    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-pagination-controls [type]="'basic'" [currentPage]="basicPage" [totalPages]="10" [size]="'xl'"
                (pageChange)="onPageChange('basic', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basic'" [currentPage]="basicPage" [totalPages]="10" [size]="'lg'"
                (pageChange)="onPageChange('basic', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basic'" [currentPage]="basicPage" [totalPages]="10" [size]="'md'"
                (pageChange)="onPageChange('basic', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basic'" [currentPage]="basicPage" [totalPages]="10" [size]="'sm'"
                (pageChange)="onPageChange('basic', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basic'" [currentPage]="basicPage" [totalPages]="10" [size]="'xs'"
                (pageChange)="onPageChange('basic', $event)"></aava-pagination-controls>
        </div>
    </div>

    <!-- Unfilled Variant -->
    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-pagination-controls [type]="'unfilled'" [currentPage]="unfilledPage" [totalPages]="10" [size]="'xl'"
                (pageChange)="onPageChange('unfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'unfilled'" [currentPage]="unfilledPage" [totalPages]="10" [size]="'lg'"
                (pageChange)="onPageChange('unfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'unfilled'" [currentPage]="unfilledPage" [totalPages]="10" [size]="'md'"
                (pageChange)="onPageChange('unfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'unfilled'" [currentPage]="unfilledPage" [totalPages]="10" [size]="'sm'"
                (pageChange)="onPageChange('unfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'unfilled'" [currentPage]="unfilledPage" [totalPages]="10" [size]="'xs'"
                (pageChange)="onPageChange('unfilled', $event)"></aava-pagination-controls>
        </div>
    </div>

    <!-- Basic Unfilled Variant -->
    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-pagination-controls [type]="'basicunfilled'" [currentPage]="basicUnfilledPage" [totalPages]="10"
                [size]="'xl'" (pageChange)="onPageChange('basicunfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basicunfilled'" [currentPage]="basicUnfilledPage" [totalPages]="10"
                [size]="'lg'" (pageChange)="onPageChange('basicunfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basicunfilled'" [currentPage]="basicUnfilledPage" [totalPages]="10"
                [size]="'md'" (pageChange)="onPageChange('basicunfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basicunfilled'" [currentPage]="basicUnfilledPage" [totalPages]="10"
                [size]="'sm'" (pageChange)="onPageChange('basicunfilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'basicunfilled'" [currentPage]="basicUnfilledPage" [totalPages]="10"
                [size]="'xs'" (pageChange)="onPageChange('basicunfilled', $event)"></aava-pagination-controls>
        </div>
    </div>

    <!-- Page Info Variant -->
    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-pagination-controls [type]="'pageinfo'" [currentPage]="pageInfoPage" [totalPages]="10" [size]="'xl'"
                (pageChange)="onPageChange('pageinfo', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfo'" [currentPage]="pageInfoPage" [totalPages]="10" [size]="'lg'"
                (pageChange)="onPageChange('pageinfo', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfo'" [currentPage]="pageInfoPage" [totalPages]="10" [size]="'md'"
                (pageChange)="onPageChange('pageinfo', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfo'" [currentPage]="pageInfoPage" [totalPages]="10" [size]="'sm'"
                (pageChange)="onPageChange('pageinfo', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfo'" [currentPage]="pageInfoPage" [totalPages]="10" [size]="'xs'"
                (pageChange)="onPageChange('pageinfo', $event)"></aava-pagination-controls>
        </div>
    </div>

    <!-- Page Info Filled Variant -->
    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-pagination-controls [type]="'pageinfofilled'" [currentPage]="pageInfoFilledPage" [totalPages]="10"
                [size]="'xl'" (pageChange)="onPageChange('pageinfofilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfofilled'" [currentPage]="pageInfoFilledPage" [totalPages]="10"
                [size]="'lg'" (pageChange)="onPageChange('pageinfofilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfofilled'" [currentPage]="pageInfoFilledPage" [totalPages]="10"
                [size]="'md'" (pageChange)="onPageChange('pageinfofilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfofilled'" [currentPage]="pageInfoFilledPage" [totalPages]="10"
                [size]="'sm'" (pageChange)="onPageChange('pageinfofilled', $event)"></aava-pagination-controls>
            <aava-pagination-controls [type]="'pageinfofilled'" [currentPage]="pageInfoFilledPage" [totalPages]="10"
                [size]="'xs'" (pageChange)="onPageChange('pageinfofilled', $event)"></aava-pagination-controls>
        </div>
    </div>
</div>