<div class="demo-section center-demo">
  <div class="demo-examples">
    <div class="example-group">
      <aava-select size="xs" label="Extra Small" placeholder="Extra Small" [showSearch]="false">
        <aava-select-option value="1">John Doe</aava-select-option>
        <aava-select-option value="2">Jane Smith</aava-select-option>
        <aava-select-option value="3">Jack Wilson</aava-select-option>
        <aava-select-option value="4">James Brown</aava-select-option>
      </aava-select>

      <aava-select size="sm" label="Small" placeholder="Small" [showSearch]="false">
        <aava-select-option value="1">John Doe</aava-select-option>
        <aava-select-option value="2">Jane Smith</aava-select-option>
        <aava-select-option value="3">Jack Wilson</aava-select-option>
        <aava-select-option value="4">James Brown</aava-select-option>
      </aava-select>

      <aava-select size="md" label="Medium" placeholder="Medium" [showSearch]="false">
        <aava-select-option value="1">John Doe</aava-select-option>
        <aava-select-option value="2">Jane Smith</aava-select-option>
        <aava-select-option value="3">Jack Wilson</aava-select-option>
        <aava-select-option value="4">James Brown</aava-select-option>
      </aava-select>

      <aava-select size="lg" label="Large" placeholder="Large" [showSearch]="false">
        <aava-select-option value="1">John Doe</aava-select-option>
        <aava-select-option value="2">Jane Smith</aava-select-option>
        <aava-select-option value="3">Jack Wilson</aava-select-option>
        <aava-select-option value="4">James Brown</aava-select-option>
      </aava-select>

      <aava-select size="xl" label="Extra Large" placeholder="Extra Large" [showSearch]="false">
        <aava-select-option value="1">John Doe</aava-select-option>
        <aava-select-option value="2">Jane Smith</aava-select-option>
        <aava-select-option value="3">Jack Wilson</aava-select-option>
        <aava-select-option value="4">James Brown</aava-select-option>
      </aava-select>
    </div>
  </div>
</div>
