.comp-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
  }
  .borderstyle {
    border-style: none !important;
  }
  .bottom-panel{
    margin-bottom: 20px;
  }
   