<div class="list-layout-demo">
  <div class="demo-container">
    <div class="upload-section">
      <aava-file-upload [enableAnimation]="true" [singleFileMode]="false" [maxFiles]="5"
        [componentTitle]="'Upload Files'" [supportedFormatLabel]="'Supported file formats'" [maxFileSize]="10485760"
        [showUploadButton]="true" layout="list" [allowedFormats]="allowedFormats" uploaderId="list-layout-uploader"
        (selectedList)="onSelectedList($event)"></aava-file-upload>
    </div>
  </div>
</div>