<div class="demo-container">
    <div class="demo-section">
        <div class="size-examples">
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Ultra Small</h4>
                <aava-avatars size="xxs" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)"></aava-avatars>
            </div>
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Extra Small</h4>
                <aava-avatars size="xs" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)">
                </aava-avatars>
            </div>
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Small</h4>
                <aava-avatars size="sm" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)">
                </aava-avatars>
            </div>
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Medium</h4>
                <aava-avatars size="md" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)">
                </aava-avatars>
            </div>
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Large</h4>
                <aava-avatars size="lg" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)">
                </aava-avatars>
            </div>
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Extra Large</h4>
                <aava-avatars size="xl" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)">
                </aava-avatars>
            </div>
            <div class="size-item">
                <h4 style="color:var(--color-text-primary)">Ultra Large</h4>
                <aava-avatars size="xxl" shape="pill" initials="AK" initialsColor="var(--color-text-on-brand)"
                    initialsBackground="var(--color-brand-primary)">
                </aava-avatars>
            </div>
        </div>
    </div>
</div>