<!-- Button Variant Squre -->
<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItems" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="rounded"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="rounded"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="md" [activeTabId]="activeTabId" buttonShape="rounded"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="sm" [activeTabId]="activeTabId" buttonShape="rounded"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="xs" [activeTabId]="activeTabId" buttonShape="rounded"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItems" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="rounded"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="rounded"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="md" [activeTabId]="activeTabId" buttonShape="rounded"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="sm" [activeTabId]="activeTabId" buttonShape="rounded"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="xs" [activeTabId]="activeTabId" buttonShape="rounded"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
    </div>
</div>
<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
    </div>
</div>

<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId"
            buttonShape="rounded" iconPosition="end" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId"
            buttonShape="rounded" iconPosition="end" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId" iconPosition="end"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId" iconPosition="end"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId" iconPosition="end"
            buttonShape="rounded" [bordered]="true" [showContentPanels]="false"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" iconPosition="end"
            [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId"
            [showTabsContainerBg]="true" buttonShape="rounded" iconPosition="end"
            [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId" iconPosition="end"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId" iconPosition="end"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId" iconPosition="end"
            [showTabsContainerBg]="true" buttonShape="rounded" [showContentPanels]="false"></aava-tabs>
    </div>
</div>
<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItems" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="md" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="sm" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="xs" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItems" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="md" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="sm" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItems" variant="button" size="xs" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
    </div>
</div>


<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId" buttonShape="pill"
            [bordered]="true" [showContentPanels]="false"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" [showContentPanels]="false"></aava-tabs>
    </div>
</div>
<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="pill"
            iconPosition="end" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="pill"
            iconPosition="end" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId" iconPosition="end"
            buttonShape="pill" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId" iconPosition="end"
            buttonShape="pill" [bordered]="true" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId" iconPosition="end"
            buttonShape="pill" [bordered]="true" [showContentPanels]="false"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="xl" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" iconPosition="end" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon" variant="button" size="lg" [activeTabId]="activeTabId" buttonShape="pill"
            [showTabsContainerBg]="true" iconPosition="end" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="md" [activeTabId]="activeTabId" iconPosition="end"
            [showTabsContainerBg]="true" buttonShape="pill" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="sm" [activeTabId]="activeTabId" iconPosition="end"
            [showTabsContainerBg]="true" buttonShape="pill" [showContentPanels]="false"></aava-tabs>
        <aava-tabs [tabs]="tabItemsWithIcon_2" variant="button" size="xs" [activeTabId]="activeTabId" iconPosition="end"
            [showTabsContainerBg]="true" buttonShape="pill" [showContentPanels]="false"></aava-tabs>
    </div>
</div>


<div class="test-tabs-container-iconOnly">
    <div class="tabs-container">
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="xl"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="lg"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="md"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="sm"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="xs"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="xl"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="lg"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="md"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="sm"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlySquare" size="xs"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
    </div>
</div>
<div class="test-tabs-container-iconOnly">
    <div class="tabs-container">
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="xl"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="lg"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="md"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="sm"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="xs"
            [showContentPanels]="false" [bordered]="true" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="xl"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="lg"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="md"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="sm"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
        <aava-tabs [tabs]="iconOnlyTabs" [activeTabId]="activeTabId" variant="iconOnlyCircle" size="xs"
            [showContentPanels]="false" [bordered]="false" (tabChange)="onTabChange($event, 'icon')"
            ariaLabel="Icon-only tabs"></aava-tabs>
    </div>
</div>


<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="basicTabs" [activeTabId]="activeTabId" variant="default" size="xl"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs" [activeTabId]="activeTabId" variant="default" size="lg"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs" [activeTabId]="activeTabId" variant="default" size="md"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs" [activeTabId]="activeTabId" variant="default" size="sm"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs" [activeTabId]="activeTabId" variant="default" size="xs"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
    </div>
    <div class="tabs-container">
        <aava-tabs [tabs]=" basicTabs_2" [activeTabId]="activeTabId" variant="default" size="xl"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]=" basicTabs_2" [activeTabId]="activeTabId" variant="default" size="lg"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]=" basicTabs_3" [activeTabId]="activeTabId" variant="default" size="md"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]=" basicTabs_3" [activeTabId]="activeTabId" variant="default" size="sm"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]=" basicTabs_3" [activeTabId]="activeTabId" variant="default" size="xs"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
    </div>
</div>
<div class="test-tabs-container">
    <div class="tabs-container">
        <aava-tabs [tabs]="basicTabs_2" [activeTabId]="activeTabId" variant="default" size="xl" [iconPosition]="'end'"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_2" [activeTabId]="activeTabId" variant="default" size="lg" [iconPosition]="'end'"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_3" [activeTabId]="activeTabId" variant="default" size="md" [iconPosition]="'end'"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_3" [activeTabId]="activeTabId" variant="default" size="sm" [iconPosition]="'end'"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_3" [activeTabId]="activeTabId" variant="default" size="xs" [iconPosition]="'end'"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
    </div>
    <div class="tabs-container">        
        <aava-tabs [tabs]="basicTabs_4" [activeTabId]="activeTabId" variant="default" size="xl"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_4" [activeTabId]="activeTabId" variant="default" size="lg"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_5" [activeTabId]="activeTabId" variant="default" size="md"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_5" [activeTabId]="activeTabId" variant="default" size="sm"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
        <aava-tabs [tabs]="basicTabs_5" [activeTabId]="activeTabId" variant="default" size="xs"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'basic')"
            ariaLabel="Basic navigation tabs"></aava-tabs>
    </div>
</div>

<!-- Customizable Icon Tabs -->
<div class="test-tabs-container">
    <div class="tabs-container">
        <!-- Navigation Button -->
        <div style="margin-bottom: 20px; text-align: center;">
            <button 
                (click)="navigateToNextTab()" 
                style="padding: 10px 20px; background-color: #0066FF; color: white; border: none; border-radius: 8px; cursor: pointer; font-size: 14px; font-weight: 500;">
                Navigate to Next Tab
            </button>
            <p style="margin-top: 10px; color: #666; font-size: 14px;">
                Current Active Tab: {{ customizableActiveTabId }}
            </p>
        </div>
        
        <aava-tabs [tabs]="customizableIconTabs" [activeTabId]="customizableActiveTabId" variant="iconEnhanced" size="xl"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'customizable')"></aava-tabs>
        <aava-tabs [tabs]="customizableIconTabs" [activeTabId]="customizableActiveTabId" variant="iconEnhanced" size="lg"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'customizable')"></aava-tabs>
        <aava-tabs [tabs]="customizableIconTabs" [activeTabId]="customizableActiveTabId" variant="iconEnhanced" size="md"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'customizable')"></aava-tabs>
        <aava-tabs [tabs]="customizableIconTabs" [activeTabId]="customizableActiveTabId" variant="iconEnhanced" size="sm"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'customizable')"></aava-tabs>
        <aava-tabs [tabs]="customizableIconTabs" [activeTabId]="customizableActiveTabId" variant="iconEnhanced" size="xs"
            [showContentPanels]="false" (tabChange)="onTabChange($event, 'customizable')"></aava-tabs>
    </div>
</div>

<!-- Table with Drawer Integration -->
<div class="test-tabs-container" style="margin-top: 40px;">
    <div class="tabs-container">
        <h3 style="margin-bottom: 20px; color: #333; font-size: 18px; font-weight: 600;">
            Table with Drawer Integration
        </h3>
        <p style="margin-bottom: 20px; color: #666; font-size: 14px;">
            Click on <strong>Name</strong> field to open drawer with Details tab, or click on <strong>Email</strong> field to open drawer with Settings tab.
        </p>
        
        <!-- Debug Info and Test Button -->
        <div style="margin-bottom: 20px; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">
            <p style="margin: 0; font-size: 12px; color: #666;">
                Debug: Drawer Open = {{ isDrawerOpen }}, Active Tab = {{ drawerActiveTabId }}
            </p>
            <p style="margin: 5px 0 0 0; font-size: 12px; color: #666;">
                Selected User: {{ selectedUserData?.name || 'None' }}, Tabs Count: {{ drawerTabs.length }}
            </p>
            <button 
                (click)="isDrawerOpen = true" 
                style="margin-top: 8px; padding: 6px 12px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">
                Test Open Drawer
            </button>
            <button 
                (click)="testMethod()" 
                style="margin-left: 8px; margin-top: 8px; padding: 6px 12px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">
                Test Method
            </button>
            <button 
                (click)="openDrawerWithTab('name', {name: 'Test User', email: 'test@test.com'})" 
                style="margin-left: 8px; margin-top: 8px; padding: 6px 12px; background-color: #dc3545; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">
                Test Details Tab
            </button>
            <button 
                (click)="openDrawerWithTab('email', {name: 'Test User', email: 'test@test.com'})" 
                style="margin-left: 8px; margin-top: 8px; padding: 6px 12px; background-color: #6f42c1; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">
                Test Settings Tab
            </button>
            <br>
            <button 
                (click)="forceSelectTab('details')" 
                style="margin-top: 8px; padding: 6px 12px; background-color: #17a2b8; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">
                Force Details Tab
            </button>
            <button 
                (click)="forceSelectTab('settings')" 
                style="margin-left: 8px; margin-top: 8px; padding: 6px 12px; background-color: #ffc107; color: black; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">
                Force Settings Tab
            </button>
        </div>
        
        <!-- Table -->
        <aava-table [dataSource]="tableDataSource" [displayedColumns]="displayedColumns">
            <!-- Name Column -->
            <ng-container aavaColumnDef="name">
                <th *aavaHeaderCellDef style="padding: 12px; font-weight: 600; color: #333;">Name</th>
                <td *aavaCellDef="let element" 
                    style="padding: 12px; cursor: pointer; color: #0066FF; text-decoration: underline; border: 2px solid red;"
                    (click)="openDrawerWithTab('name', element)"
                    (mouseenter)="console.log('Hovering over name:', element.name)">
                    <span (click)="openDrawerWithTab('name', element)">{{ element.name }}</span>
                </td>
            </ng-container>
            
            <!-- Email Column -->
            <ng-container aavaColumnDef="email">
                <th *aavaHeaderCellDef style="padding: 12px; font-weight: 600; color: #333;">Email</th>
                <td *aavaCellDef="let element" 
                    style="padding: 12px; cursor: pointer; color: #E91E99; text-decoration: underline; border: 2px solid blue;"
                    (click)="openDrawerWithTab('email', element)"
                    (mouseenter)="console.log('Hovering over email:', element.email)">
                    <span (click)="openDrawerWithTab('email', element)">{{ element.email }}</span>
                </td>
            </ng-container>
            
            <!-- Table Structure -->
            <tr aava-header-row *aavaHeaderRowDef="displayedColumns"></tr>
            <tr aava-row *aavaRowDef="let row; columns: displayedColumns"></tr>
        </aava-table>
    </div>
</div>

<!-- Drawer with Tabs -->
<aava-drawer 
    [isOpen]="isDrawerOpen" 
    [title]="'User Information'" 
    [subtitle]="'Manage user details and settings'"
    position="right" 
    size="lg"
    [showHeader]="true"
    [showCloseButton]="true"
    (closed)="closeDrawer()">
    
    <!-- Drawer Content with Tabs -->
    <div style="padding: 20px;">
        <aava-tabs 
            [tabs]="drawerTabs" 
            [activeTabId]="drawerActiveTabId" 
            variant="default" 
            size="md"
            [showContentPanels]="true"
            (tabChange)="onDrawerTabChange($event)">
        </aava-tabs>
    </div>
</aava-drawer>