xl<div class="t-container">
    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-button label="ELarge" variant="primary" size="xl"></aava-button>
            <aava-button label="Large" variant="primary" size="lg"></aava-button>
            <aava-button label="Medium" variant="primary" size="md"></aava-button>
            <aava-button label="Small" variant="primary" size="sm"></aava-button>
            <aava-button label="ESmall" variant="primary" size="xs"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button [disabled] = "true" label="ELarge" variant="primary" size="xl" iconName="circle-check"
                iconPosition="left" [cursor]="true"></aava-button>
            <aava-button label="Large" variant="primary" size="lg" iconName="circle-check"
                iconPosition="left" [cursor]="true"></aava-button>
            <aava-button label="Medium" variant="primary" size="md" iconName="circle-check"
                iconPosition="left" [cursor]="true"></aava-button>
            <aava-button label="Small" variant="primary" size="sm" iconName="circle-check"
                iconPosition="left" [cursor]="true"></aava-button>
            <aava-button label="ESmall" variant="primary" size="xs" iconName="circle-check"
                iconPosition="left" [cursor]="true"></aava-button>
        </div>
        <div class="col-12 col-sm-auto">
            <aava-button label="ELarge" variant="primary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="Large" variant="primary" size="lg" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="Medium" variant="primary" size="md" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="Small" variant="primary" size="sm" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="ESmall" variant="primary" size="xs" iconName="circle-check"
                iconPosition="right"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="xl"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="lg"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="md"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="sm"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="xs"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">

            <aava-button label="Tertiary" variant="tertiary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>

            <aava-button [clear]="true" label="ELarge" variant="primary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="Large" variant="primary" size="lg" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="Medium" variant="primary" size="md" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="Small" variant="primary" size="sm" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="ESmall" variant="primary" size="xs" iconName="circle-check"
                iconPosition="right"></aava-button>
        </div>




    </div>

    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-button [disabled]="true" label="ELargeD" variant="secondary" size="xl"></aava-button>
            <aava-button label="Large" variant="secondary" size="lg"></aava-button>
            <aava-button label="Medium" variant="secondary" size="md"></aava-button>
            <aava-button label="Small" variant="secondary" size="sm"></aava-button>
            <aava-button label="ESmall" variant="secondary" size="xs"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button label="ELarge" variant="secondary" size="xl" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button label="Large" variant="secondary" size="lg" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button label="Medium" variant="secondary" size="md" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button label="Small" variant="secondary" size="sm" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button label="ESmall" variant="secondary" size="xs" iconName="circle-check"
                iconPosition="left"></aava-button>
        </div>
        <div class="col-12 col-sm-auto">
            <aava-button label="ELarge" variant="secondary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="Large" variant="secondary" size="lg" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="Medium" variant="secondary" size="md" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="Small" variant="secondary" size="sm" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button label="ESmall" variant="secondary" size="xs" iconName="circle-check"
                iconPosition="right"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="xl"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="lg"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="md"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="sm"></aava-button>
            <aava-button iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="xs"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button [clear]="true" label="ELarge" variant="secondary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="Large" variant="secondary" size="lg" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="Medium" variant="secondary" size="md" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="Small" variant="secondary" size="sm" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [clear]="true" label="ESmall" variant="secondary" size="xs" iconName="circle-check"
                iconPosition="right"></aava-button>
        </div>




    </div>


    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" label="ELarge" variant="primary" size="xl"></aava-button>
            <aava-button [pill]="true" label="Large" variant="primary" size="lg"></aava-button>
            <aava-button [pill]="true" label="Medium" variant="primary" size="md"></aava-button>
            <aava-button [pill]="true" label="Small" variant="primary" size="sm"></aava-button>
            <aava-button [pill]="true" label="ESmall" variant="primary" size="xs"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" label="ELarge" variant="primary" size="xl" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="Large" variant="primary" size="lg" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="Medium" variant="primary" size="md" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="Small" variant="primary" size="sm" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="ESmall" variant="primary" size="xs" iconName="circle-check"
                iconPosition="left"></aava-button>
        </div>
        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" label="ELarge" variant="primary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="Large" variant="primary" size="lg" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="Medium" variant="primary" size="md" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="Small" variant="primary" size="sm" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="ESmall" variant="primary" size="xs" iconName="circle-check"
                iconPosition="right"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="xl"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="lg"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="md"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="sm"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="primary" iconColor="#fff"
                size="xs"></aava-button>
        </div>






    </div>


    <div class="con">
        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true"   label="ELarge" variant="secondary" size="xl"></aava-button>
            <aava-button [pill]="true" label="Large" variant="secondary" size="lg"></aava-button>
            <aava-button [pill]="true" label="Medium" variant="secondary" size="md"></aava-button>
            <aava-button [pill]="true" label="Small" variant="secondary" size="sm"></aava-button>
            <aava-button [pill]="true" label="ESmall" variant="secondary" size="xs"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" label="ELarge" variant="secondary" size="xl" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="Large" variant="secondary" size="lg" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="Medium" variant="secondary" size="md" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="Small" variant="secondary" size="sm" iconName="circle-check"
                iconPosition="left"></aava-button>
            <aava-button [pill]="true" label="ESmall" variant="secondary" size="xs" iconName="circle-check"
                iconPosition="left"></aava-button>
        </div>
        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" label="ELarge" variant="secondary" size="xl" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="Large" variant="secondary" size="lg" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="Medium" variant="secondary" size="md" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="Small" variant="secondary" size="sm" iconName="circle-check"
                iconPosition="right"></aava-button>
            <aava-button [pill]="true" label="ESmall" variant="secondary" size="xs" iconName="circle-check"
                iconPosition="right"></aava-button>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="xl"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="lg"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="md"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="sm"></aava-button>
            <aava-button [pill]="true" iconName="circle-check" iconPosition="only" variant="secondary" iconColor="#fff"
                size="xs"></aava-button>
        </div>





    </div>



</div>