.t-container {
    padding: 25px;

    .con {
        div {
            margin-bottom: 25px;
        }

        margin-bottom: 25px;
        border-bottom: 2px solid #ccc;
    }

    ava-button {
        margin-right: 25px;
    }
}