.prompt-bar-demo {
  padding: 2rem;
  margin: 20px auto;
  display: block;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #1e293b;
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.demo-section-large {
  height: 240px;
  width: 580px;
  margin-bottom: 3rem;
}
.demo-section-medium {
  height: 235px;
  width: 100%;
  margin-bottom: 3rem;
}
.demo-section-small {
  height: 200px;
  width: 100%;
  margin-bottom: 3rem;
}
.demo-section-xsmall {
  height: 225px;
  width: 440px;
  margin-bottom: 3rem;
}
