.test-group {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 890px;
  margin-bottom: 80px;

}

.stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
