.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .demo-grid {
    display: flex;
    width: 300px;
    gap: 16px;
    align-items: center;
  }
}