<div class="demo-container">
  <div class="demo-grid">
    <aava-button tabindex="0" label="Start" variant="primary" size="sm" state="default" tooltipDescription=" Start"
      tooltipWidth="80" tooltipType="simple" tooltipTrigger="hover" tooltipPosition="top"
      tooltipArrow="start"></aava-button>
    <aava-button label=" Center" variant="primary" size="sm" state="default" tooltipDescription=" Center"
      tooltipWidth="80" tooltipType="simple" tooltipTrigger="hover" tooltipPosition="top"
      tooltipArrow="center"></aava-button>
    <aava-button label=" End" variant="primary" size="sm" state="default" tooltipDescription=" End" tooltipType="simple"
      tooltipWidth="80" tooltipTrigger="hover" tooltipPosition="top" tooltipArrow="end"></aava-button>
  </div>
</div>