<div class="container">
    <div class="section">
        <label> Basic Usage :</label>
        <aava-time-picker (timeSelected)="onTimeSelected($event)"></aava-time-picker>
    </div>

    <div class="section">
        <label> Scroll Mode Interface</label>
        <aava-time-picker (timeSelected)="onTimeSelected($event)"></aava-time-picker>
    </div>

    <div class="section">
        <label> Inline Input Editing :</label>
        <aava-time-picker (timeSelected)="onTimeSelected($event)"></aava-time-picker>
    </div>
    <div class="section">
        <label> Keyboard Navigation :</label>
        <aava-time-picker (timeSelected)="onTimeSelected($event)"></aava-time-picker>
    </div>
    <div class="section">
        <label> Validation and Constraints :</label>
        <aava-time-picker (timeSelected)="onTimeSelected($event)"></aava-time-picker>
    </div>
    <div class="section">
        <label> Custom Styling :</label>
        <aava-time-picker (timeSelected)="onTimeSelected($event)"></aava-time-picker>
    </div>


    <div class="section">
        <label class="mb-0"> Size Variants :</label>
        <div class="demo-container">
            <div class="time-picker-wrapper"> <aava-time-picker [size]="'sm'"
                    (timeSelected)="onTimeSelected($event)"></aava-time-picker>
            </div>

            <div class="time-picker-wrapper"> <aava-time-picker [size]="'md'"
                    (timeSelected)="onTimeSelected($event)"></aava-time-picker>
            </div>

            <div class="time-picker-wrapper"><aava-time-picker [size]="'lg'"
                    (timeSelected)="onTimeSelected($event)"></aava-time-picker>
            </div>

            <div class="time-picker-wrapper"><aava-time-picker [size]="'xl'"
                    (timeSelected)="onTimeSelected($event)"></aava-time-picker>
            </div>

        </div>
    </div>

</div>