<div class="documentation">
  <div class="section">
    <div class="mobile-view">
      <aava-header containerClass="">
        <div left-content class="header__left">
          <aava-icon
            class="menu-toggle"
            iconName="Menu"
            [iconSize]="24"
            iconColor="#000"
            (click)="toggleMenuDropdown()"
          ></aava-icon>

          <div class="menu-dropdown" [class.open]="isMenuOpen">
            <div class="dropdown-logo">
              <img src="{{ logoUrl }}" alt="Logo" />
            </div>

            <div class="search-box dropdown-search">
              <aava-icon
                iconName="search"
                [iconSize]="16"
                iconColor="#000"
              ></aava-icon>
              <input
                type="text"
                [(ngModel)]="searchText"
                (input)="onSearchChange()"
                placeholder="Search"
              />
            </div>

            <div class="dropdown-tabs">
              <aava-tabs
                [tabs]="iconsTabs"
                [activeTabId]="activeTabId"
                variant="default"
                size="sm"
                [showContentPanels]="false"
                orientation="vertical"
                (tabChange)="onTabChange($event)"
              >
              </aava-tabs>
            </div>
          </div>
        </div>

        <div right-content class="header__right">
          <aava-icon
            class="icon"
            iconName="Sun"
            [iconSize]="20"
            [iconColor]="getIconColor"
            (click)="onGraphIconClick()"
          ></aava-icon>
          <aava-icon
            class="icon"
            iconName="Languages"
            [iconSize]="20"
            [iconColor]="getIconColor"
            (click)="onTranslateIconClick()"
          ></aava-icon>

          <aava-avatars
            size="md"
            shape="square"
            [imageUrl]="getLoggedInUserLogo()"
            badgeState="information"
            badgeSize="lg"
            [badgeCount]="9"
          ></aava-avatars>
          <aava-icon
            class="icon"
            iconName="EllipsisVertical"
            [iconSize]="20"
            [iconColor]="getIconColor"
            (click)="onDayLightModeIconClick()"
          ></aava-icon>
        </div>
      </aava-header>
    </div>
  </div>
</div>
