<div class="t-container">
  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. All Success Toast Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Success Large"
                variant="success"
                (userClick)="showBasicSuccesslarge()"
              ></aava-button>
              <aava-button
                label="Success Medium"
                variant="success"
                (userClick)="showBasicSuccessMedium()"
              ></aava-button>
              <aava-button
                label="Success Small"
                variant="success"
                (userClick)="showBasicSuccessSmall()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. All warning Toast Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="warning Large"
                variant="warning"
                (userClick)="showBasicWarninglarge()"
              ></aava-button>
              <aava-button
                label="warning Medium"
                variant="warning"
                (userClick)="showBasicWarningMedium()"
              ></aava-button>
              <aava-button
                label="warning Small"
                variant="warning"
                (userClick)="showBasicWarningSmall()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. All Error Toast Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Error Large"
                variant="danger"
                (userClick)="showBasicErrorlarge()"
              ></aava-button>
              <aava-button
                label="Error Medium"
                variant="danger"
                (userClick)="showBasicErrorMedium()"
              ></aava-button>
              <aava-button
                label="Error Small"
                variant="danger"
                (userClick)="showBasicErrorSmall()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. All Info Toast Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Info Large"
                variant="info"
                (userClick)="showBasicInfoLarge()"
              ></aava-button>
              <aava-button
                label="Info Medium"
                variant="info"
                (userClick)="showBasicInfoMedium()"
              ></aava-button>
              <aava-button
                label="Info Small"
                variant="info"
                (userClick)="showBasicInfoSmall()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
