<div class="carousel-size">
  <div>
    <aava-carousel [items]="carouselItems" size="xs"> </aava-carousel>
    <h1 class="title">Extra Small</h1>
  </div>

  <div>
    <aava-carousel [items]="carouselItems" size="sm"> </aava-carousel>
    <h1 class="title">Small</h1>
  </div>

  <div>
    <aava-carousel [items]="carouselItems" size="md"> </aava-carousel>
    <h1 class="title">Medium</h1>
  </div>

  <div>
    <aava-carousel [items]="carouselItems" size="lg"> </aava-carousel>
    <h1 class="title">Large</h1>
  </div>
</div>
