<div class="demo-section center-demo">
  <div class="demo-examples">
    <div class="example-group">
      <aava-toggle
        size="md"
        title="Enabled Unchecked"
        [checked]="false"
      >
      </aava-toggle>
    </div>
    <div class="example-group">
      <aava-toggle
        size="md"
        title="Enabled Checked"
        [checked]="true"
      >
      </aava-toggle>
    </div>
    <div class="example-group">
      <aava-toggle
        size="md"
        title="Disabled Unchecked"
        [disabled]="true"
        [checked]="false"
      >
      </aava-toggle>
    </div>
    <div class="example-group">
      <aava-toggle
        size="md"
        title="Disabled Checked"
        [disabled]="true"
        [checked]="true"
      >
      </aava-toggle>
    </div>
  </div>
</div>
