<div class="t-container">
    <div class="each">
        <div>
            <p>Extra large</p>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" size="xl" (change)="change($event)"></aava-textbox>
            <aava-textbox label="Label Name" value="Enter text here" variant="success" placeholder="Enter text here"
                size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter text here" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder=" Enter text here" [disabled]="true"
                size="xl"></aava-textbox>

            <p>Large</p>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="success" placeholder="Enter text here" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter text here" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" [disabled]="true"
                size="lg"></aava-textbox>
            <p>Medium</p>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="success" placeholder="Enter text here" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder=" Enter text here" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" [disabled]="true"
                size="md"></aava-textbox>
            <p>Small</p>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="success" placeholder="Enter text here" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder=" Enter text here" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" [disabled]="true"
                size="sm"></aava-textbox>
            <p>Extra Small</p>

            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="success" placeholder="Enter text here" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder=" Enter text here" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter text here" [disabled]="true"
                size="xs"></aava-textbox>
        </div>


        <div class="phide">
            <p>Extra large</p>
            <aava-textbox label="Label Name" inputKind="phone" inputKindLabel="US" labelPosition="start"
                variant="default" placeholder="Enter Ph. No." size="xl"></aava-textbox>
            <aava-textbox label="Label Name" value="+1 63792009" variant="success" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter Ph. No." inputKind="currency"
                inputKindLabel="US" labelPosition="start" size="xl" [disabled]="true"></aava-textbox>



            <p>Large</p>
            <aava-textbox label="Label Name" inputKind="phone" inputKindLabel="US" labelPosition="start"
                variant="default" placeholder="Enter Ph. No." size="lg"></aava-textbox>
            <aava-textbox label="Label Name" value="+1 63792009" variant="success" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter Ph. No." inputKind="phone"
                inputKindLabel="US" labelPosition="start" size="lg" [disabled]="true"></aava-textbox>

            <p>Medium</p>
            <aava-textbox label="Label Name" inputKind="phone" inputKindLabel="US" labelPosition="start"
                variant="default" placeholder="Enter Ph. No." size="md"></aava-textbox>
            <aava-textbox label="Label Name" value="+1 63792009" variant="success" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter Ph. No." inputKind="phone"
                inputKindLabel="US" labelPosition="start" size="md" [disabled]="true"></aava-textbox>
            <p>Small</p>
            <aava-textbox label="Label Name" inputKind="phone" inputKindLabel="US" labelPosition="start"
                variant="default" placeholder="Enter Ph. No." size="sm"></aava-textbox>
            <aava-textbox label="Label Name" value="+1 63792009" variant="success" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter Ph. No." inputKind="phone"
                inputKindLabel="US" labelPosition="start" size="sm" [disabled]="true"></aava-textbox>
            <p>Extra Small</p>

            <aava-textbox label="Label Name" inputKind="phone" inputKindLabel="US" labelPosition="start"
                variant="default" placeholder="Enter Ph. No." size="xs"></aava-textbox>
            <aava-textbox label="Label Name" value="+1 63792009" variant="success" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="Enter Ph. No."
                inputKind="phone" inputKindLabel="US" labelPosition="start" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter Ph. No." inputKind="phone"
                inputKindLabel="US" labelPosition="start" size="xs" [disabled]="true"></aava-textbox>
        </div>


        <div class="phide">
            <p>Extra large</p>
            <aava-textbox label="Label Name" inputKind="currency" inputKindLabel="USD" labelPosition="end"
                variant="default" placeholder="100000" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" value="100000" variant="success" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="100000"
                inputKind="currency" inputKindLabel="USD" labelPosition="end" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="xl" [disabled]="true"></aava-textbox>



            <p>Large</p>
            <aava-textbox label="Label Name" inputKind="currency" inputKindLabel="USD" labelPosition="end"
                variant="default" placeholder="100000" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" value="100000" variant="success" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="100000"
                inputKind="currency" inputKindLabel="USD" labelPosition="end" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="lg" [disabled]="true"></aava-textbox>

            <p>Medium</p>
            <aava-textbox label="Label Name" inputKind="currency" inputKindLabel="USD" labelPosition="end"
                variant="default" placeholder="100000" size="md"></aava-textbox>
            <aava-textbox label="Label Name" value="100000" variant="success" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="100000"
                inputKind="currency" inputKindLabel="USD" labelPosition="end" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="md" [disabled]="true"></aava-textbox>
            <p>Small</p>
            <aava-textbox label="Label Name" inputKind="currency" inputKindLabel="USD" labelPosition="end"
                variant="default" placeholder="100000" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" value="100000" variant="success" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="100000"
                inputKind="currency" inputKindLabel="USD" labelPosition="end" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="sm" [disabled]="true"></aava-textbox>
            <p>Extra Small</p>

            <aava-textbox label="Label Name" inputKind="currency" inputKindLabel="USD" labelPosition="end"
                variant="default" placeholder="100000" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" value="100000" variant="success" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here" placeholder="100000"
                inputKind="currency" inputKindLabel="USD" labelPosition="end" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="100000" inputKind="currency"
                inputKindLabel="USD" labelPosition="end" size="xs" [disabled]="true"></aava-textbox>
        </div>

        <div class="phide">
            <p>Extra large</p>
            <aava-textbox label="Label Name" inputKind="email" inputKindLabel="" labelPosition="start" variant="default"
                placeholder="Enter email here" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" value="exampe@d.com" variant="success" placeholder="Enter email here"
                inputKind="email" inputKindLabel="" labelPosition="start" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter email here" inputKind="email" inputKindLabel="" labelPosition="start"
                size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter email here" inputKind="email"
                inputKindLabel="" labelPosition="start" size="xl" [disabled]="true"></aava-textbox>



            <p>Large</p>
            <aava-textbox label="Label Name" inputKind="email" inputKindLabel="" labelPosition="start" variant="default"
                placeholder="Enter email here" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" value="exampe@d.com" variant="success" placeholder="Enter email here"
                inputKind="email" inputKindLabel="" labelPosition="start" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter email here" inputKind="email" inputKindLabel="" labelPosition="start"
                size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter email here" inputKind="email"
                inputKindLabel="" labelPosition="start" size="lg" [disabled]="true"></aava-textbox>

            <p>Medium</p>
            <aava-textbox label="Label Name" inputKind="email" inputKindLabel="" labelPosition="start" variant="default"
                placeholder="Enter email here" size="md"></aava-textbox>
            <aava-textbox label="Label Name" value="exampe@d.com" variant="success" placeholder="Enter email here"
                inputKind="email" inputKindLabel="" labelPosition="start" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter email here" inputKind="email" inputKindLabel="" labelPosition="start"
                size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter email here" inputKind="curemailrency"
                inputKindLabel="" labelPosition="start" size="md" [disabled]="true"></aava-textbox>
            <p>Small</p>
            <aava-textbox label="Label Name" inputKind="email" inputKindLabel="" labelPosition="start" variant="default"
                placeholder="Enter email here" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" value="exampe@d.com" variant="success" placeholder="Enter email here"
                inputKind="email" inputKindLabel="" labelPosition="start" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter email here" inputKind="email" inputKindLabel="" labelPosition="start"
                size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter email here" inputKind="email"
                inputKindLabel="" labelPosition="start" size="sm" [disabled]="true"></aava-textbox>
            <p>Extra Small</p>

            <aava-textbox label="Label Name" inputKind="email" inputKindLabel="" labelPosition="start" variant="default"
                placeholder="Enter email here" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" value="exampe@d.com" variant="success" placeholder="Enter email here"
                inputKind="email" inputKindLabel="" labelPosition="start" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter email here" inputKind="email" inputKindLabel="" labelPosition="start"
                size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter email here" inputKind="email"
                inputKindLabel="" labelPosition="start" size="xs" [disabled]="true"></aava-textbox>
        </div>


        <div class="phide l">
            <p>Extra large</p>
            <aava-textbox label="Label Name" inputKind="password" inputKindLabel="" labelPosition="end" variant="default"
                placeholder="Enter password here" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" value="123456789" variant="success" placeholder="Enter password here"
                inputKind="password" inputKindLabel="" labelPosition="end" size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter password here" inputKind="password" inputKindLabel="" labelPosition="end"
                size="xl"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter password here" inputKind="password"
                inputKindLabel="" labelPosition="end" size="xl" [disabled]="true"></aava-textbox>



            <p>Large</p>
            <aava-textbox label="Label Name" inputKind="password" inputKindLabel="" labelPosition="end" variant="default"
                placeholder="Enter password here" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" value="123456789" variant="success" placeholder="Enter password here"
                inputKind="password" inputKindLabel="" labelPosition="end" size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter password here" inputKind="password" inputKindLabel="" labelPosition="end"
                size="lg"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter password here" inputKind="password"
                inputKindLabel="" labelPosition="end" size="lg" [disabled]="true"></aava-textbox>

            <p>Medium</p>
            <aava-textbox label="Label Name" inputKind="password" inputKindLabel="" labelPosition="end" variant="default"
                placeholder="Enter password here" size="md"></aava-textbox>
            <aava-textbox label="Label Name" value="123456789" variant="success" placeholder="Enter password here"
                inputKind="password" inputKindLabel="" labelPosition="end" size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter password here" inputKind="password" inputKindLabel="" labelPosition="end"
                size="md"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter password here"
                inputKind="curemailrency" inputKindLabel="" labelPosition="end" size="md"
                [disabled]="true"></aava-textbox>
            <p>Small</p>
            <aava-textbox label="Label Name" inputKind="password" inputKindLabel="" labelPosition="end" variant="default"
                placeholder="Enter password here" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" value="123456789" variant="success" placeholder="Enter password here"
                inputKind="password" inputKindLabel="" labelPosition="end" size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter password here" inputKind="password" inputKindLabel="" labelPosition="end"
                size="sm"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter password here" inputKind="password"
                inputKindLabel="" labelPosition="end" size="sm" [disabled]="true"></aava-textbox>
            <p>Extra Small</p>

            <aava-textbox label="Label Name" inputKind="password" inputKindLabel="" labelPosition="end" variant="default"
                placeholder="Enter password here" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" value="123456789" variant="success" placeholder="Enter password here"
                inputKind="password" inputKindLabel="" labelPosition="end" size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="error" error="Error message comes here"
                placeholder="Enter password here" inputKind="password" inputKindLabel="" labelPosition="end"
                size="xs"></aava-textbox>
            <aava-textbox label="Label Name" variant="default" placeholder="Enter password here" inputKind="password"
                inputKindLabel="" labelPosition="end" size="xs" [disabled]="true"></aava-textbox>
        </div>







    </div>
</div>