<div class="demo-section">
  <!-- ================== COUNT BADGES ================== -->
  <div class="variant-section">
    <div class="badge-row">
      <aava-badges state="high-priority" size="lg" [count]="9"></aava-badges>
      <aava-badges state="high-priority" size="md" [count]="9"></aava-badges>
      <aava-badges state="high-priority" size="sm" [count]="9"></aava-badges>
      <aava-badges state="high-priority" size="xs" [count]="9"></aava-badges>
    </div>

    <div class="badge-row">
      <aava-badges state="medium-priority" size="lg" iconName="clock" iconColor="white" [iconSize]="14"></aava-badges>
      <aava-badges state="medium-priority" size="md" iconName="clock" iconColor="white" [iconSize]="12"></aava-badges>
      <aava-badges state="medium-priority" size="sm" iconName="clock" iconColor="white" [iconSize]="10"></aava-badges>
      <aava-badges state="medium-priority" size="xs" iconName="clock" iconColor="white" [iconSize]="8"></aava-badges>
    </div>

    <div class="badge-row">
      <aava-badges state="low-priority" size="lg" variant="dots"></aava-badges>
      <aava-badges state="low-priority" size="md" variant="dots"></aava-badges>
      <aava-badges state="low-priority" size="sm" variant="dots"></aava-badges>
    </div>
  </div>
</div>