<div class="t-container">
  <!-- SSO Login Variants Section -->
  <!-- <div class="con">
    <h2>SSO Login Variants</h2>
    <div class="col-12 col-sm-auto">
      <aava-button label="Extra Small SSO" variant="primary" (userClick)="openSSOLogin('xs')"></aava-button>
      <aava-button label="Small SSO" variant="primary" (userClick)="openSSOLogin('sm')"></aava-button>
      <aava-button label="Medium SSO" variant="primary" (userClick)="openSSOLogin('md')"></aava-button>
      <aava-button label="Large SSO" variant="primary" (userClick)="openSSOLogin('lg')"></aava-button>
      <aava-button label="Extra Large SSO" variant="primary" (userClick)="openSSOLogin('xl')"></aava-button>
    </div>
  </div> -->

  <!-- Modal Variants Section -->
  <div class="con">
    <div class="col-12 col-sm-auto d-flex justify-content-center">
      <aava-button
        label=" Simple Modal"
        variant="secondary"
        (userClick)="openProperSimpleModal()"
      ></aava-button>
      <aava-button
        label=" Feedback Modal"
        variant="secondary"
        (userClick)="openProperFeedbackModal()"
      ></aava-button>
      <aava-button
        label=" Scrollable Modal"
        variant="secondary"
        (userClick)="openProperScrollableModal()"
      ></aava-button>
    </div>
  </div>
</div>
