<aava-banner variant="stacked" imageUrl="assets/banner.png" title="Your Banner Title"
    description="This is a description for stacked layout." primaryBtnText="Get Started" secondaryBtnText="Learn More"
    (onPrimary)="doPrimary()" (onSecondary)="doSecondary()">
</aava-banner>

<div class="row-banner">

    <aava-banner variant="row" imageUrl="assets/banner.png" description="Your brief, one-line message goes here."
        primaryBtnText="Button One" secondaryBtnText="Button Two"></aava-banner>
</div>