<div class="t-container">
  <!--Success snackbar-->
  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. Snackbar Success Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Success Large"
                variant="success"
                (userClick)="showLargeSuccess()"
              ></aava-button>
              <aava-button
                label="Success Medium"
                variant="success"
                (userClick)="showMediumSuccess()"
              ></aava-button>
              <aava-button
                label="Success Small"
                variant="success"
                (userClick)="showSmallSuccess()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. Snackbar Warning Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Warning Large"
                variant="warning"
                (userClick)="showLargeWarning()"
              ></aava-button>
              <aava-button
                label="Warning Medium"
                variant="warning"
                (userClick)="showMediumWarning()"
              ></aava-button>
              <aava-button
                label="Warning Small"
                variant="warning"
                (userClick)="showSmallWarning()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. Snackbar Error Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Error Large"
                variant="danger"
                (userClick)="showLargeError()"
              ></aava-button>
              <aava-button
                label="Error Medium"
                variant="danger"
                (userClick)="showMediumError()"
              ></aava-button>
              <aava-button
                label="Error Small"
                variant="danger"
                (userClick)="showSmallError()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section class="doc-section">
        <h2>1. Snackbar Info Variants</h2>
        <div class="demo-container">
          <div class="control-group">
            <div class="control-row">
              <aava-button
                label="Info Large"
                variant="info"
                (userClick)="showLargeInfo()"
              ></aava-button>
              <aava-button
                label="Info Medium"
                variant="info"
                (userClick)="showMediumInfo()"
              ></aava-button>
              <aava-button
                label="Info Small"
                variant="info"
                (userClick)="showSmallInfo()"
              ></aava-button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
