<div class="sizes-timeline-demo">
  <div class="demo-content">
    <div class="size-grid">
      <div class="size-item">
        <h3>Extra Small (x-small)</h3>
        <div class="timeline-wrapper">
          <aava-timeline
            [events]="sizeEvents"
            [size]="'xs'"
            [orientation]="'vertical'"
            [textAlign]="'zigzag-left'"
            [iconCircleSize]="'24px'"
            [iconCircleBgColor]="'#fff'"
            [iconCircleBorderColor]="'#ccc'"
          ></aava-timeline>
        </div>
      </div>

      <div class="size-item">
        <h3>Small</h3>
        <div class="timeline-wrapper">
          <aava-timeline
            [events]="sizeEvents"
            [size]="'sm'"
            [orientation]="'vertical'"
            [textAlign]="'zigzag-left'"
            [iconCircleSize]="'28px'"
            [iconCircleBgColor]="'#fff'"
            [iconCircleBorderColor]="'#ccc'"
          ></aava-timeline>
        </div>
      </div>

      <div class="size-item">
        <h3>Medium</h3>
        <div class="timeline-wrapper">
          <aava-timeline
            [events]="sizeEvents"
            [size]="'md'"
            [orientation]="'vertical'"
            [textAlign]="'zigzag-left'"
            [iconCircleSize]="'32px'"
            [iconCircleBgColor]="'#fff'"
            [iconCircleBorderColor]="'#ccc'"
          ></aava-timeline>
        </div>
      </div>

      <div class="size-item">
        <h3>Large</h3>
        <div class="timeline-wrapper">
          <aava-timeline
            [events]="sizeEvents"
            [size]="'lg'"
            [orientation]="'vertical'"
            [textAlign]="'zigzag-left'"
            [iconCircleSize]="'40px'"
            [iconCircleBgColor]="'#fff'"
            [iconCircleBorderColor]="'#ccc'"
          ></aava-timeline>
        </div>
      </div>
    </div>
  </div>
</div>
