<div class="t-container">
  <!-- SSO Login Variants Section -->
  <div class="con">
    <h2>SSO Login Variants</h2>
    <div class="col-12 col-sm-auto">
      <aava-button label="Extra Small SSO" variant="primary" (userClick)="openSSOLogin('xs')"></aava-button>
      <aava-button label="Small SSO" variant="primary" (userClick)="openSSOLogin('sm')"></aava-button>
      <aava-button label="Medium SSO" variant="primary" (userClick)="openSSOLogin('md')"></aava-button>
      <aava-button label="Large SSO" variant="primary" (userClick)="openSSOLogin('lg')"></aava-button>
      <aava-button label="Extra Large SSO" variant="primary" (userClick)="openSSOLogin('xl')"></aava-button>
    </div>
  </div>

  <!-- Table Tooltip Variants Section -->
  <div class="con">
    <h2>Table Tooltip Variants</h2>
    <div class="col-12 col-sm-auto">
      <aava-button label="Extra Small Table" variant="success" (userClick)="openTableTooltip('xs')"></aava-button>
      <aava-button label="Small Table" variant="success" (userClick)="openTableTooltip('sm')"></aava-button>
      <aava-button label="Medium Table" variant="success" (userClick)="openTableTooltip('md')"></aava-button>
      <aava-button label="Large Table" variant="success" (userClick)="openTableTooltip('lg')"></aava-button>
      <aava-button label="Extra Large Table" variant="success" (userClick)="openTableTooltip('xl')"></aava-button>
    </div>
  </div>

  <!-- Modal Variants Section -->
  <div class="con">
    <h2>Modal Examples</h2>
    <div class="col-12 col-sm-auto" style="display:flex; gap:8px; flex-wrap: wrap;">
      <aava-button label="Proper Simple Modal" variant="secondary" (userClick)="openProperSimpleModal()"></aava-button>
      <aava-button label="Proper Feedback Modal" variant="success"
        (userClick)="openProperFeedbackModal()"></aava-button>
      <aava-button label="Proper Scrollable Modal" variant="secondary"
        (userClick)="openProperScrollableModal()"></aava-button>
      <aava-button label="Select (Center)" variant="primary"
        (userClick)="openSelectModalExample('center')"></aava-button>
      <aava-button label="Select (Left Top)" variant="primary"
        (userClick)="openSelectModalExample('left-top')"></aava-button>
      <aava-button label="Select (Right Top)" variant="primary"
        (userClick)="openSelectModalExample('right-top')"></aava-button>
      <aava-button label="Select (Right Bottom)" variant="primary"
        (userClick)="openSelectModalExample('right-bottom')"></aava-button>
      <aava-button label="Select (Left Bottom)" variant="primary"
        (userClick)="openSelectModalExample('left-bottom')"></aava-button>
    </div>
  </div>

  <div class="con">
    <h2>Modal Examples</h2>
    <div class="col-12 col-sm-auto" style="display:flex; gap:8px; flex-wrap: wrap;">
      <aava-button label="Select (Center)" variant="primary"
        (userClick)="openWithSelectModalExample('center')"></aava-button>

    </div>
  </div>
</div>