<div class="t-container">
    <div class="con">


        <div class="col-12 col-sm-auto">
            <aava-spinner color="primary" size="xs" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="primary" size="sm" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="primary" size="md" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="primary" size="lg" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="primary" size="xl" [animation]=true type="linear-gradient"></aava-spinner>
        </div>
        <div class="col-12 col-sm-auto">
            <aava-spinner color="secondary" size="xs" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="secondary" size="sm" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="secondary" size="md" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="secondary" size="lg" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="secondary" size="xl" [animation]=true type="linear-gradient"></aava-spinner>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-spinner color="success" size="xs" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="success" size="sm" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="success" size="md" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="success" size="lg" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="success" size="xl" [animation]=true type="linear-gradient"></aava-spinner>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-spinner color="warning" size="xs" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="warning" size="sm" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="warning" size="md" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="warning" size="lg" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="warning" size="xl" [animation]=true type="linear-gradient"></aava-spinner>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-spinner color="danger" size="xs" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="danger" size="sm" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="danger" size="md" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="danger" size="lg" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="danger" size="xl" [animation]=true type="linear-gradient"></aava-spinner>




        </div>

        <div class="col-12 col-sm-auto">
            <aava-spinner color="#1681FF" size="xs" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="#1681FF" size="sm" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="#1681FF" size="md" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="#1681FF" size="lg" [animation]=true type="linear-gradient"></aava-spinner>
            <aava-spinner color="#1681FF" size="xl" [animation]=true type="linear-gradient"></aava-spinner>
        </div>

        <div class="col-12 col-sm-auto">
            <h3>Blob Type</h3>
            <aava-spinner color="primary" size="xs" [animation]=true type="blob"></aava-spinner>
            <aava-spinner color="secondary" size="sm" [animation]=true type="blob"></aava-spinner>
            <aava-spinner color="success" size="md" [animation]=true type="blob"></aava-spinner>
            <aava-spinner color="warning" size="lg" [animation]=true type="blob"></aava-spinner>
            <aava-spinner color="danger" size="xl" [animation]=true type="blob"></aava-spinner>
        </div>

    </div>

</div>