.t-container {
    padding: 25px;

    .con {
        div {
            margin-bottom: 25px;
        }

        margin-bottom: 25px;


        ava-spinner {
            margin-right: 20px;
        }
    }

}