<div class="stepper-container">
  <div class="stepper-horizontal">
    <aava-stepper [showLabel]="false" [steps]="largeLabels" [currentStep]="largeStep" [iconColor]="'#ffff'"
      [iconSize]="'24'" orientation="horizontal" size="lg" [showNavigation]="true"
      (stepChange)="onLargeStepChange($event)">
    </aava-stepper>
    <aava-stepper [steps]="largeLabels" [currentStep]="largeStep" [iconColor]="'#ffff'" [iconSize]="'24'"
      orientation="horizontal" size="lg" [showNavigation]="true" (stepChange)="onLargeStepChange($event)">
    </aava-stepper>

    <aava-stepper [steps]="mediumLabels" [currentStep]="mediumStep" [iconColor]="'#ffff'" [iconSize]="'20'"
      orientation="horizontal" size="md" [showNavigation]="true" (stepChange)="onMediumStepChange($event)">
    </aava-stepper>

    <aava-stepper [steps]="smallLabels" [currentStep]="smallStep" [iconColor]="'#ffff'" [iconSize]="'16'"
      orientation="horizontal" size="sm" [showNavigation]="true" (stepChange)="onSmallStepChange($event)">
    </aava-stepper>


    <aava-stepper [steps]="smallLabels" [currentStep]="smallStep" [iconColor]="'#ffff'" [iconSize]="'12'"
      orientation="horizontal" size="xs" [showNavigation]="true" (stepChange)="onSmallStepChange($event)">
    </aava-stepper>
  </div>


  <div class="stepper-vertical">
    <div class="vertical-large">
      <aava-stepper [steps]="verticalLabelSet1" [currentStep]="verticalStep1" [iconColor]="'#ffff'" [iconSize]="'24'"
        orientation="vertical" size="lg" [showNavigation]="true" (stepChange)="onVerticalStep1Change($event)">
      </aava-stepper>

      <aava-stepper [showLabel]="false" [steps]="verticalLabelSet1" [currentStep]="verticalStep1" [iconColor]="'#ffff'"
        [iconSize]="'24'" orientation="vertical" size="lg" [showNavigation]="true"
        (stepChange)="onVerticalStep1Change($event)">
      </aava-stepper>
    </div>


    <aava-stepper [steps]="verticalLabelSet2" [currentStep]="verticalStep2" [iconColor]="'#ffff'" [iconSize]="'20'"
      orientation="vertical" size="md" [showNavigation]="true" (stepChange)="onVerticalStep2Change($event)">
    </aava-stepper>


    <aava-stepper [steps]="verticalLabelSet3" [currentStep]="verticalStep3" [iconColor]="'#ffff'" [iconSize]="'16'"
      orientation="vertical" size="sm" [showNavigation]="true" (stepChange)="onVerticalStep3Change($event)">
    </aava-stepper>


    <aava-stepper [steps]="verticalLabelSet3" [currentStep]="verticalStep3" [iconColor]="'#ffff'" [iconSize]="'12'"
      orientation="vertical" size="xs" [showNavigation]="true" (stepChange)="onVerticalStep3Change($event)">
    </aava-stepper>
  </div>
</div>