<div class="demo-section center-demo">
  <div class="demo-examples">
    <div class="example-group">
      <aava-toggle
        size="xs"
        title="Extra Small"
      ></aava-toggle>
    </div>
    <div class="example-group">
      <aava-toggle
        size="sm"
        title="Small"
      ></aava-toggle>
    </div>
    <div class="example-group">
      <aava-toggle
        size="md"
        title="Medium"
      ></aava-toggle>
    </div>
    <div class="example-group">
      <aava-toggle
        size="lg"
        title="Large"
      ></aava-toggle>
    </div>
  </div>
</div>
