.center-demo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-section {
  margin-bottom: 2rem;
  padding: 2rem;
  max-width: 870px;
  margin-top: 0;
}

.demo-examples {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.example-group {
  display: flex;
 min-width: 300px;
 gap:80px;
}

.example-group h4 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1rem;
  text-align: center;
}

.example-group aava-select {
  margin-bottom: 1rem;
}
