.chat-panel-outter-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .chat-panel-demo-wrapper {
        display: flex;
        justify-content: center;
        width: 60vw;
        height: 85vh;
    }
}