<div class="demo-container">
  <h2>Single-Group Mode</h2>
  <p>Filter with one group of options using checkbox or radio selection.</p>
  <div class="example">
    <div>
    <h3>Checkbox Selection</h3>
    <aava-filter
      label="Multiple Selection"
      [options]="checkboxOptions"
      selectionType="checkbox"
            [width]="200"

    >
    </aava-filter>
    </div>
<div>
    <h3>Radio Selection</h3>
    <aava-filter
      label="Single Selection"
      [options]="radioOptions"
      selectionType="radio"
            [width]="200"

    >
    </aava-filter>
    </div>
  </div>
</div>
