<div class="t-container">
    <div class="con">

   <div class="col-12 col-sm-auto">
            <aava-tag type='badge' color="default" size="xs" label="Label"></aava-tag>
            <aava-tag type='badge' color="default" size="sm" label="Label"></aava-tag>
            <aava-tag type='badge' color="default" size="md" label="Label"></aava-tag>
            <aava-tag type='badge' color="default" size="lg" label="Label"></aava-tag>
            <aava-tag type='badge' color="default" size="xl" label="Label"></aava-tag>
        </div>
        <div class="col-12 col-sm-auto">
            <aava-tag type='badge' color="error" size="xs" label="Label"></aava-tag>
            <aava-tag type='badge' color="error" size="sm" label="Label"></aava-tag>
            <aava-tag type='badge' color="error" size="md" label="Label"></aava-tag>
            <aava-tag type='badge' color="error" size="lg" label="Label"></aava-tag>
            <aava-tag type='badge' color="error" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag type='badge' color="success" size="xs" label="Label"></aava-tag>
            <aava-tag type='badge' color="success" size="sm" label="Label"></aava-tag>
            <aava-tag type='badge' color="success" size="md" label="Label"></aava-tag>
            <aava-tag type='badge' color="success" size="lg" label="Label"></aava-tag>
            <aava-tag type='badge' color="success" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag type='badge' color="warning" size="xs" label="Label"></aava-tag>
            <aava-tag type='badge' color="warning" size="sm" label="Label"></aava-tag>
            <aava-tag type='badge' color="warning" size="md" label="Label"></aava-tag>
            <aava-tag type='badge' color="warning" size="lg" label="Label"></aava-tag>
            <aava-tag type='badge' color="warning" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag type='badge' color="info" size="xs" label="Label"></aava-tag>
            <aava-tag type='badge' color="info" size="sm" label="Label"></aava-tag>
            <aava-tag type='badge' color="info" size="md" label="Label"></aava-tag>
            <aava-tag type='badge' color="info" size="lg" label="Label"></aava-tag>
            <aava-tag type='badge' color="info" size="xl" label="Label"></aava-tag>

            <!-- <aava-tag [customStyle]="{ background: 'yellow' }" type='badge' color="info" size="xlarge"
                label="Label"></aava-tag> -->




        </div>


    </div>

    <div class="con">
  <div class="col-12 col-sm-auto">
            <aava-tag [pill]="true" type='badge' color="default" size="xs" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="default" size="sm" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="default" size="md" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="default" size="lg" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="default" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag [pill]="true" type='badge' color="error" size="xs" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="error" size="sm" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="error" size="md" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="error" size="lg" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="error" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag [pill]="true" type='badge' color="success" size="xs" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="success" size="sm" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="success" size="md" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="success" size="lg" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="success" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag [pill]="true" type='badge' color="warning" size="xs" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="warning" size="sm" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="warning" size="md" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="warning" size="lg" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="warning" size="xl" label="Label"></aava-tag>
        </div>

        <div class="col-12 col-sm-auto">
            <aava-tag [pill]="true" type='badge' color="info" size="xs" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="info" size="sm" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="info" size="md" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="info" size="lg" label="Label"></aava-tag>
            <aava-tag [pill]="true" type='badge' color="info" size="xl" label="Label"></aava-tag>

            <!-- <aava-tag [customStyle]="{ background: 'yellow' }" type='badge' color="info" size="xlarge"
                label="Label"></aava-tag> -->




        </div>


    </div>
</div>